@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #3b63ba;
}

.building_career_video{
  width: 50vw;
  aspect-ratio: 2/1.5;
  left: 0;
  line-height: 0;
  font-size: 0;
}
.building_career_footer{
  position: absolute;
  width: 50vw;
  height: auto;
  aspect-ratio: 2000/697;
  bottom: calc(2px - 1.6vw);
  left: 0;
  z-index: 40;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #065096;
}